.App {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

table {
  border: 5px solid forestgreen;
  width: 800px;
  margin: 20px 0;
  font-size: 16px;
  text-align: center;
  background-color: whitesmoke;
  border-style: solid;
}

th {
  text-align: center;
  vertical-align: middle;
  background-color: forestgreen;
  border: 1px solid #ddd;
  padding: 12px;
}

td {
  text-align: center;
  border: 1px solid #ddd;
  padding: 12px;
  vertical-align: middle;
}

select {
  text-align: center;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
}
